<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Designing the Workflow</title>
  <meta name="description" content="Slides for a web design workshop on how to improve your front end workflow by using advance technologies.">

  <link rel="icon" href="/favicon.png" type="image/png"/>
  <link rel="shortcut icon" href="/favicon.png" type="image/png"/>
  <link rel="stylesheet" href="css/main.css">
  <script src="//use.typekit.net/yfr0mcm.js"></script>
</head>

  <body data-pagetrans="none">
    

<section data-slide="Title">
    
  <div class="slide_content title">
    <h1 id="designing-the-workflow">Designing the Workflow</h1>

  </div>
  
  
</section>

<section data-slide="About me">
    
  <div class="slide_content title-list">
    <h2 id="about-myself">About myself</h2>

<ul>
  <li>I’m Aceler Chua</li>
  <li>Create brand identity, UI, and typeface</li>
  <li>Founder of The Missing Bulb</li>
  <li>Design &amp; Tech Lead of PWDO</li>
</ul>

  </div>
  
  
</section>

<section data-slide="Timespan">
    
  <div class="slide_content oneliner">
    <p>We only have 3 hours.</p>

  </div>
  
  
  <aside>
    <p>Time doesn't allow us to dig into every details. If we have time we can talk about media queries and js, maybe typography as well.</p>
  </aside>
  
</section>

<section data-slide="Inspired">
    
  <div class="slide_content oneliner">
    <p>What you’ll take away from the workshop are ideas, not skills.</p>

  </div>
  
  
  <aside>
    <p>Hope you're inspired to create your own workflow.</p>
  </aside>
  
</section>

<section data-slide="Let's start">
    
  <div class="slide_content oneliner">
    <p>Let’s get started!</p>

  </div>
  
  
  <aside>
    <p>We're dividing the workshop into 3 parts.</p>
  </aside>
  
</section>

<section data-slide="Workshop parts">
    
  <div class="slide_content title-list">
    <h2 id="three-parts-of-this-workshop">Three parts of this workshop</h2>

<ul>
  <li>Preparation and planning</li>
  <li>Setting up tools and programs</li>
  <li>Execution and making it work</li>
</ul>

  </div>
  
  
</section>

<section data-slide="Planning">
    
  <div class="slide_content oneliner">
    <h2 id="preparation-and-planning">Preparation and planning</h2>

  </div>
  
  
</section>

<section data-slide="Importance of a plan">
    
  <div class="slide_content oneliner">
    <p>Planning for a website is underrated.</p>

  </div>
  
  
  <aside>
    <p>People just want it(the project) done. Cost is always the priority.</p>
  </aside>
  
</section>

<section data-slide="Importance of a plan (2)">
    
  <div class="slide_content image">
    <p><img src="assets/true-story.png" alt="True Story" /></p>

  </div>
  
  
  <aside>
    <p>Lack of planning = Buying things without reading reviews. It's okay unless you're full of resources.</p>
  </aside>
  
</section>

<section data-slide="Planning workflow">
    
  <div class="slide_content title-list">
    <h2 id="list-of-things-you-need-to-do-for-planning">List of things you need to do for planning</h2>

<ol>
  <li>Get the content and read it.</li>
  <li>Try to think about the design.</li>
  <li>Sketch it out.</li>
  <li>Drawing boxes and plotting divs.</li>
</ol>

  </div>
  
  
</section>

<section data-slide="Content">
    
  <div class="slide_content oneliner">
    <h2 id="get-the-content-and-read-itbrlike-really-reading-it">Get the content and read it.<br />(Like, really reading it.)</h2>

  </div>
  
  
</section>

<section data-slide="Yarn">
    
  <div class="slide_content image">
    <p><img src="assets/yarn.png" alt="Yarn" /></p>

  </div>
  
  
  <aside>
    <p>Wool = Design Pattern = Content Knitted = Product</p>
  </aside>
  
</section>

<section data-slide="Yarn (2)">
    
  <div class="slide_content image">
    <p><img src="assets/yarn-desc.png" alt="Yarn with description" /></p>

  </div>
  
  
  <aside>
    <p>Does it mean anything? No it doesn't make any sense until its -> next slide</p>
  </aside>
  
</section>

<section data-slide="Yarn (3)">
    
  <div class="slide_content image">
    <p><img src="assets/knitted.png" alt="Knitted" /></p>

  </div>
  
  
  <aside>
    <p>Wool = Design Pattern = Content Knitted = Product</p>
  </aside>
  
</section>

<section data-slide="Poor content = Poor design">
    
  <div class="slide_content oneliner">
    <p>You can’t produce good design without good content. 
<br />
And you won’t know the quality of the content if you didn’t read it.</p>

  </div>
  
  
</section>

<section data-slide="Think about the design">
    
  <div class="slide_content oneliner">
    <h2 id="now-think-about-the-design">Now think about the design</h2>

  </div>
  
  
</section>

<section data-slide="Think about the layout">
    
  <div class="slide_content oneliner">
    <p>The layout?</p>

  </div>
  
  
</section>

<section data-slide="Think about the hierarchy">
    
  <div class="slide_content oneliner">
    <p>The hierarchy?</p>

  </div>
  
  
  <aside>
    <p>Hierarchy is the order of the content. Which one is more important and which one's not.</p>
  </aside>
  
</section>

<section data-slide="Think about the color">
    
  <div class="slide_content oneliner">
    <p>How about the color palette?</p>

  </div>
  
  
</section>

<section data-slide="Think about the reusability">
    
  <div class="slide_content oneliner">
    <p>Is the whole thing reusable?</p>

  </div>
  
  
</section>

<section data-slide="Nothing works well">
    
  <div class="slide_content oneliner">
    <p>Lets face it.<br />Sometimes, nothing works.</p>

  </div>
  
  
</section>

<section data-slide="Take some rests">
    
  <div class="slide_content oneliner">
    <p>Grab a beer, take some rest.</p>

  </div>
  
  
</section>

<section data-slide="Sketch it out">
    
  <div class="slide_content oneliner">
    <h2 id="now-go-ahead-and-sketch">Now go ahead and sketch!</h2>

  </div>
  
  
  <aside>
    <p>Just keep sketching</p>
  </aside>
  
</section>

<section data-slide="Boxing and Plotting">
    
  <div class="slide_content oneliner">
    <h2 id="boxing-and-plotting">Boxing and Plotting</h2>

  </div>
  
  
</section>

<section data-slide="Base Sketch">
    
  <div class="slide_content image">
    <p><img src="assets/sketch-1.png" alt="Base sketch" /></p>

  </div>
  
  
</section>

<section data-slide="Adding side margin">
    
  <div class="slide_content image">
    <p><img src="assets/sketch-2.png" alt="Base sketch with side margin" /></p>

  </div>
  
  
</section>

<section data-slide="Adding sections">
    
  <div class="slide_content image">
    <p><img src="assets/sketch-3.png" alt="Base sketch with sections" /></p>

  </div>
  
  
</section>

<section data-slide="Adding containers">
    
  <div class="slide_content image">
    <p><img src="assets/sketch-4.png" alt="Base sketch with containers" /></p>

  </div>
  
  
</section>

<section data-slide="Adding all other parts">
    
  <div class="slide_content image">
    <p><img src="assets/sketch-5.png" alt="Base sketch with all parts" /></p>

  </div>
  
  
</section>

<section data-slide="Label them">
    
  <div class="slide_content image">
    <p><img src="assets/sketch-6.png" alt="Base sketch with labels" /></p>

  </div>
  
  
</section>

<section data-slide="Assets">
    
  <div class="slide_content oneliner">
    <p>Download the content from <code>http://bit.ly/1i7YFED</code></p>

  </div>
  
  
</section>

<section data-slide="Setting up tools">
    
  <div class="slide_content oneliner">
    <h2 id="setting-up-tools-and-programs">Setting up tools and programs</h2>

  </div>
  
  
</section>

<section data-slide="Basic stuff">
    
  <div class="slide_content title-list">
    <h2 id="basic-stuff">Basic stuff</h2>

<ol>
  <li>Computer (Preferably Mac/Ubuntu)</li>
  <li>Browsers (The more the merrier)</li>
  <li>Text editor (Go with Sublime Text)</li>
  <li>Graphic editing programs</li>
</ol>

  </div>
  
  
  <aside>
    <p>personally Mac/Ubuntu are more coder friendly</p>
  </aside>
  
</section>

<section data-slide="Basic languages and codes">
    
  <div class="slide_content title-list">
    <h2 id="basic-languages--codes">Basic languages &amp; codes</h2>

<ul>
  <li>Hypertext Markup Language (HTML)</li>
  <li>Cascading Stylesheet (CSS)</li>
  <li>Javascript (JS)</li>
</ul>

  </div>
  
  
  <aside>
    <p>HTML—Structure CSS—Painting JS—Functionality & manipulation</p>
  </aside>
  
</section>

<section data-slide="Better and faster"">
    
  <div class="slide_content oneliner">
    <p>We want something faster, something better, something more efficient.</p>

  </div>
  
  
</section>

<section data-slide="Generator and preprocessor">
    
  <div class="slide_content oneliner">
    <p>We need some <strong>magical process</strong>.</p>

  </div>
  
  
</section>

<section data-slide="Jekyll">
    
  <div class="slide_content oneliner">
    <h2 id="lets-talk-about-jekyll">Let’s talk about Jekyll</h2>

  </div>
  
  
</section>

<section data-slide="Jekyll is a site generator">
    
  <div class="slide_content oneliner">
    <p><strong>Jekyll</strong> is a site generator</p>

  </div>
  
  
</section>

<section data-slide="Jekyll is a site generator (2)">
    
  <div class="slide_content multiliner">
    <p>We use Jekyll to populate <code>html</code> files.</p>

<p>With Jekyll, you create templates and put content files inside. then jekyll will help you to generate html files to make up the whole site.</p>

<p>There are no database behind Jekyll so no server side processing is needed.</p>

  </div>
  
  
  <aside>
    <p>Jekyll is best for sites with simple functionality. In the end it's just a site generator, it doesn't have the capability in preprocessing data on the fly.</p>
  </aside>
  
</section>

<section data-slide="Basic commands of Jekyll">
    
  <div class="slide_content title-list">
    <h2 id="basic-commands">Basic commands</h2>

<ul>
  <li><code>jekyll build</code> (For building site)</li>
  <li><code>jekyll serve</code> (jekyll build + serving your site on computer)</li>
</ul>

  </div>
  
  
</section>

<section data-slide="Sass">
    
  <div class="slide_content oneliner">
    <h2 id="now-lets-talk-about-sass">Now let’s talk about Sass.</h2>

  </div>
  
  
</section>

<section data-slide="Sass is a css preprocessor">
    
  <div class="slide_content oneliner">
    <p><strong>Sass</strong> is a CSS preprocessor</p>

  </div>
  
  
</section>

<section data-slide="Sass is a css preprocessor (2)">
    
  <div class="slide_content multiliner">
    <p>A <code>CSS</code> preprocessor can help you save time by letting you write smarter code.</p>

<p>It gives you the capablity to <em>virtually</em> have variables, calculations, and nesting in CSS—which can’t do the aforementioned.</p>

<p>Downside of any CSS preprocessors are you have to run some process to compile them into plain CSS code.</p>

  </div>
  
  
</section>

<section data-slide="We need a compiler">
    
  <div class="slide_content oneliner">
    <h2 id="we-need-grunt-to-do-that-for-us">We need Grunt to do that for us.</h2>

  </div>
  
  
  <aside>
    <p>You do have other choices though, but grunt is one of the easiest way to do that.</p>
  </aside>
  
</section>

<section data-slide="Grunt is a task-runner">
    
  <div class="slide_content oneliner">
    <p><strong>Grunt</strong> is a task runner</p>

  </div>
  
  
</section>

<section data-slide="Grunt is a task-runner (2)">
    
  <div class="slide_content multiliner">
    <p>Grunt can be used to handle a lot of tasks.</p>

<p>One of the uses of Grunt is to help us compile your <code>.scss</code> into <code>css</code>.</p>

<p>You can also use Grunt to minify your <code>JS</code> files.</p>

  </div>
  
  
</section>

<section data-slide="Let's set them up">
    
  <div class="slide_content oneliner">
    <p>Let’s set them up!</p>

  </div>
  
  
</section>

<section data-slide="Let's set them up (2)">
    
  <div class="slide_content title-list">
    <h2 id="create-a-new-jekyll-project">Create a new Jekyll project</h2>

<ol>
  <li>Opening the project directory in Terminal.</li>
  <li>Inside the terminal, type <code>jekyll new .</code>.</li>
  <li>Hit Enter.</li>
</ol>

  </div>
  
  
</section>

<section data-slide="Let's set them up (3)">
    
  <div class="slide_content title-list">
    <h2 id="fixing-the-directory-for-our-workflow">Fixing the directory for our workflow</h2>

<ol>
  <li>Remove the <code>_sass</code> folder.</li>
  <li>Create a folder named <code>dev</code> inside <code>css</code>.</li>
  <li>Remove the <code>main.scss</code> file inside <code>css</code>.</li>
</ol>

  </div>
  
  
</section>

<section data-slide="Let's set them up (4)">
    
  <div class="slide_content title-list">
    <h2 id="installing-grunt">Installing Grunt</h2>

<ol>
  <li>Install Grunt with <code>npm install grunt-cli -g</code>.</li>
  <li>Create new file called <code>package.json</code> with content from <code>http://bit.ly/1IoIubf</code>. Go edit the content as well.</li>
  <li>Create new file called <code>Gruntfile.js</code> with content from <code>http://bit.ly/1IoIubf</code>.</li>
  <li>Run <code>npm install</code> in terminal.</li>
</ol>

  </div>
  
  
</section>

<section data-slide="We're all good">
    
  <div class="slide_content oneliner">
    <p>Now we’re all good!</p>

  </div>
  
  
</section>

<section data-slide="Let's make it work">
    
  <div class="slide_content oneliner">
    <h2 id="lets-make-it-work">Let’s make it work</h2>

  </div>
  
  
</section>

<section data-slide="Sublime Text Snippet">
    
  <div class="slide_content title-list">
    <h2 id="install-some-tools">Install some tools</h2>

<ol>
  <li>Go to <code>~/Library/Application Support/Sublime Text 2/Packages/User</code>.*</li>
  <li>Download <code>http://bit.ly/1NLHULG</code>.</li>
  <li>Unzip and put all the content(except <code>readme.md</code>) inside the folder from 1.</li>
</ol>

<p>*For Windows users: <code>C:\Users\{user}\AppData\Roaming\Sublime Text 2\Packages/User</code>
*For Linux users: <code>~/.config/sublime-text-2/Packages/User</code></p>

  </div>
  
  
</section>

<section data-slide="Oh Sass">
    
  <div class="slide_content title-list">
    <h2 id="lets-start-working-on-sass">Let’s start working on Sass</h2>

<ol>
  <li>Create a file inside <code>css/dev</code> call <code>main.scss</code>.</li>
  <li>With Sublime, type <code>setup</code> and hit tab.</li>
  <li>Save the file.</li>
</ol>

  </div>
  
  
</section>

<section data-slide="Oh Sass (2)">
    
  <div class="slide_content title-list">
    <h2 id="use-grunt-to-compile-sass">Use Grunt to compile Sass</h2>

<ol>
  <li>Type <code>grunt</code> in terminal.</li>
  <li>Hit enter.</li>
  <li>Go try to save <code>main.scss</code> again.</li>
  <li>See if <code>main.css</code> appear in <code>css</code>.</li>
</ol>

  </div>
  
  
</section>

<section data-slide="Styling with Sass">
    
  <div class="slide_content multiliner">
    <h2 id="styling-with-sass">Styling with Sass</h2>

<p>Use <code>$something: something;</code> as variable. For example:</p>

<pre><code>$color: #badass;
p { color: $color; }
</code></pre>

<p>Will become</p>

<pre><code>p { color: #badass; }
</code></pre>

  </div>
  
  
</section>

<section data-slide="Styling with Sass (2)">
    
  <div class="slide_content multiliner">
    <h2 id="styling-with-sass">Styling with Sass</h2>

<p>You can do math with Sass. For example:</p>

<pre><code>padding: 10 / 2 * 1rem;
</code></pre>

<p>Will become</p>

<pre><code>padding: 5rem;
</code></pre>

  </div>
  
  
</section>

<section data-slide="Styling with Sass (3)">
    
  <div class="slide_content multiliner">
    <h2 id="styling-with-sass">Styling with Sass</h2>

<p>Nesting? No problem! See this example:</p>

<pre><code>.mother {
	.son {
		font-size: small;
	}
}
</code></pre>

<p>Will become</p>

<pre><code>.mother .son {font-size: small;}
</code></pre>

  </div>
  
  
</section>

<section data-slide="Type tricks">
    
  <div class="slide_content multiliner">
    <h2 id="how-to-make-your-website-look-cleaner">How to make your website look cleaner?</h2>

<p>There’s an idea call <em>baseline grid</em> in typography, where the spaces between baselines are always constant.</p>

<p>Texts and other objects will then be put on the baseline so that the vertical rhythm of the page will be maintained.</p>

<p>There’s not yet a 100% accurate way to achieve this on the web. but we can do something to mimic it.</p>

  </div>
  
  
  <aside>
    <p>Will discuss baseline grid if still have time.</p>
  </aside>
  
</section>

<section data-slide="Type tricks (2)">
    
  <div class="slide_content multiliner">
    <p>Remember this equation:</p>

<pre><code>font-size = line-height(Leading) / ratio
</code></pre>

<p>The default ration between font size and it’s leading is 120% or 1.2. But for body text, it’s usually set to 1.4 to achieve better legibility.</p>

  </div>
  
  
</section>

<section data-slide="Type tricks (3)">
    
  <div class="slide_content multiliner">
    <p>We use <code>font-size</code> to achieve the leading or the height of baseline:</p>

<pre><code>html, body {
	font-size: 16px; //Leading
	line-height: 1rem;
}

p {
	font-size: 1 / 1.4 * 1rem; //Remember the equation?
	line-height: 1rem;
}
</code></pre>

  </div>
  
  
  <aside>
    <p>Explain rem;</p>
  </aside>
  
</section>

<section data-slide="Type tricks (4)">
    
  <div class="slide_content multiliner">
    <p>It’s even applicable to other objects:</p>

<pre><code>img {
	height: 4rem; // 4 times the leading
}

div {
	padding: 1rem;
	margin-bottom: 1rem;
}
</code></pre>

  </div>
  
  
</section>

<section data-slide="Start coding">
    
  <div class="slide_content oneliner">
    <h2 id="now-lets-start-the-real-coding">Now let’s start the real coding.</h2>

  </div>
  
  
</section>

<section data-slide="Start coding (2)">
    
  <div class="slide_content title-list">
    <h2 id="now-lets-start-the-real-coding">Now let’s start the real coding.</h2>

<ol>
  <li>Open <code>_layouts/default.html</code>.</li>
  <li>Make the following edits:</li>
</ol>

  </div>
  
  
</section>

<section data-slide="Start coding (3)">
    
  <div class="slide_content multiliner">
    
<p>From</p>

<pre><code>{% include header.html %}

&lt;div class="page-content"&gt;
  &lt;div class="wrapper"&gt;
    {{ content }}
  &lt;/div&gt;
&lt;/div&gt;

{% include footer.html %}
</code></pre>

<p>to</p>

<pre><code>{{ content }}
</code></pre>


  </div>
  
  
</section>

<section data-slide="Start coding (4)">
    
  <div class="slide_content title-list">
    <h2 id="now-do-these">Now do these</h2>

<ol>
  <li>Edit the <code>_config.yml</code></li>
  <li>Add <code>exclude: ["node_modules", "Gruntfile.js", "package.json", "css/dev"]</code> to <code>_config.yml</code></li>
  <li>Run <code>jekyll serve</code></li>
  <li>Start coding a normal website in <code>index.html</code> and <code>css/dev/main.scss</code></li>
</ol>

  </div>
  
  
  <aside>
    <p>Explain exclude. Remind only code content between body.</p>
  </aside>
  
</section>

<section data-slide="Assets">
    
  <div class="slide_content title-list">
    <h2 id="create-assets-folder">Create assets folder</h2>

<ol>
  <li>Create a folder named <code>assets</code> at the root directory.</li>
  <li>Place your images here.</li>
  <li>Get your images as usual like <code>&lt;img src="assets/logo.png"&gt;</code></li>
</ol>

  </div>
  
  
</section>

<section data-slide="Setting up contents">
    
  <div class="slide_content title-list">
    <h2 id="lets-set-up-contents">Lets set up contents</h2>

<ol>
  <li>Rename <code>_posts/2015-08-28-welcome-to-jekyll.markdown</code> into <code>2015-11-5-bradfrost.md</code></li>
  <li>Open it</li>
  <li>Replace all the content by content from <code>http://bit.ly/1fKOqEo</code></li>
</ol>

  </div>
  
  
  <aside>
    <p>This is called post.</p>
  </aside>
  
</section>

<section data-slide="Setting up contents (2)">
    
  <div class="slide_content title-list">
    <h2 id="lets-set-up-contents">Lets set up contents</h2>

<ol>
  <li>Create a new file in the home directory call <code>outline.md</code></li>
  <li>Insert the content from <code>http://bit.ly/1fKOqEo</code></li>
</ol>

  </div>
  
  
  <aside>
    <p>This is called page.</p>
  </aside>
  
</section>

<section data-slide="Setting up contents (3)">
    
  <div class="slide_content title-list">
    <h2 id="lets-set-up-contents">Lets set up contents</h2>

<ol>
  <li>Open <code>about.md</code></li>
  <li>Replace all the content by content from <code>http://bit.ly/1fKOqEo</code></li>
</ol>

  </div>
  
  
</section>

<section data-slide="Retrieving the content">
    
  <div class="slide_content oneliner">
    <h2 id="contents-are-ready-and-we-can-now-let-the-template-retrieve-the-content">Contents are ready and we can now let the template retrieve the content.</h2>

  </div>
  
  
</section>

<section data-slide="Retrieving the content (2)">
    
  <div class="slide_content oneliner">
    <p>Jekyll uses <em>Liquid</em> as it’s templating language, so let’s have a look at Liquid now.</p>

  </div>
  
  
</section>

<section data-slide="Retrieving the content (3)">
    
  <div class="slide_content multiliner">
    <p>There are three types of control in Liquid—<code>Tags</code>, <code>Objects</code>, and <code>Filter</code>.</p>

<p>Tags are used to handle the logic in Liquid. Some of the regularly used tags are the for and if tags.</p>

<p>Objects acts like the alias of the contents that need to be displayed.</p>

<p>Filters are modifiers used to manipulate objects. It’s usually placed after “|”.</p>

  </div>
  
  
</section>

<section data-slide="For Loop">
    
  <div class="slide_content title-list">
    
<h2 id="for-loop">For loop</h2>

<ol>
  <li>Add <code>{% for speaker in site.posts limit:1 %}</code> to the top of your <code>index.html</code> content.</li>
  <li>Add <code>{% endfor %}</code> to the bottom of your <code>index.html</code> content.</li>
</ol>

  </div>
  
  
  <aside>
    <p>Explain for loop</p>
  </aside>
  
</section>

<section data-slide="Placing content">
    
  <div class="slide_content oneliner">
    
<p>Now try to replace the big titled Brad Frost by <code>{{ speaker.name }}</code></p>

  </div>
  
  
</section>

<section data-slide="Placing content (2)">
    
  <div class="slide_content oneliner">
    
<p>Let’s try to replace the topic by <code>{{ speaker.topic }}</code></p>

  </div>
  
  
</section>

<section data-slide="Placing content (3)">
    
  <div class="slide_content multiliner">
    <h2 id="get-it">Get it?</h2>

<p>The content between triple-underscores are usable contents retrievable by objects.</p>

<p>So when you have small details you need in different parts of the website, try putting them in beteen the triple-underscores.</p>

<p>Remember they have to be at the top of the file.</p>

<p>For the main content, use <code>.content</code>.</p>

  </div>
  
  
</section>

<section data-slide="How about pages?">
    
  <div class="slide_content oneliner">
    <p>But how about pages? can we get them like the posts?</p>

  </div>
  
  
</section>

<section data-slide="How about pages? (2)">
    
  <div class="slide_content oneliner">
    <p>No, you can’t. But there are workarounds to make it work.</p>

  </div>
  
  
</section>

<section data-slide="Retrieving pages">
    
  <div class="slide_content multiliner">
    
<h2 id="first-we-need-to-get-a-list-of-pages-from-the-site">First, we need to get a list of pages from the site.</h2>

<pre><code>{% for page in site.pages %}

{% endfor %}
</code></pre>


  </div>
  
  
</section>

<section data-slide="Retrieving pages (2)">
    
  <div class="slide_content multiliner">
    
<h2 id="then-we-check-if-the-name-of-the-looped-page-is-equal-to-the-needed-pages">Then we check if the name of the looped page is equal to the needed page’s.</h2>

<pre><code>{% for page in site.pages %}
{% if page.title == "outline" %}

{% endif %}
{% endfor %}
</code></pre>


  </div>
  
  
</section>

<section data-slide="Retrieving pages (3)">
    
  <div class="slide_content multiliner">
    
<h2 id="tada-now-you-can-get-the-content-form-the-page">Tada! now you can get the content form the page.</h2>

<pre><code>{% for page in site.pages %}
{% if page.title == "outline" %}
	{{ page.content | markdownify }}
{% endif %}
{% endfor %}
</code></pre>


  </div>
  
  
</section>

<section data-slide="Markdownify">
    
  <div class="slide_content multiliner">
    <h2 id="why-is-there-a-markdownify-filter">Why is there a <code>markdownify</code> filter?</h2>

<p>It’s because when we’re retrieving markdown content from a page, the markdown won’t be processed.</p>

<p>That’s why we need to process it as markdown manually.</p>

  </div>
  
  
</section>

<section data-slide="Finish it">
    
  <div class="slide_content oneliner">
    <p>You’ve already learned about the basics of Jekyll, now go ahead and finish the site.</p>

  </div>
  
  
</section>

<section data-slide="End">
    
  <div class="slide_content multiliner">
    <h2 id="i-hope-youve-learned-something-from-this-workshop">I hope you’ve learned something from this workshop.</h2>

<p>If you have any questions, feel free to ask me on Twitter at @chakler or you can also send me an email at hi@aclr.co.</p>

<p>See you next time!</p>

  </div>
  
  
</section>

    <!-- Navigation -->
<nav class="group">
  <div class="menu">
    <h3>Go To Slide:</h3>
    <div class="item nano">
      <ul class="nano-content">
      </ul>
    </div>
  </div>
  <div class="function">
    <button id="button_top">Top</button>
    <button id="button_last">Last Slide</button>
  </div>
</nav>
    <!-- Script -->
    <script src="js/plugin.min.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>
